.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  height: 100vh;
}

/* Header */
.header {
  grid-area: header;
}

/* End Header */

/* Sidebar */
#sidebar {
  grid-area: sidebar;
  font-family: "Poppins", sans-serif;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-item {
  font-size: 18px;
  width: 100%;
}

.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}


/* End Sidebar */


/* Main */
main {
  grid-area: main;
  overflow-y: auto;
  color: rgba(255, 255, 255, 0.95);
}

/* End Main */

.card-inner>.card_icon {
  font-size: 25px;
}

.accodion-item{
  border-radius: none !important;
}

.accordion-item button{
  font-weight: 600;
}

@media (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main";
  }

}

@media screen and (max-width: 576px) {
  main {
    max-width: 100vw;
  }

  .header-left {
    display: none;
  }
}